blockquote {
  position: relative;
}

blockquote::before {
  content: "“";
  font-size: 3rem;
  color: hotpink;
  position: absolute;
  left: -0.6em;
  top: 0;
}

blockquote::after {
  content: "”";
  font-size: 3rem;
  color: hotpink;
  position: absolute;
  right: -0.6em;
  bottom: 0;
}
